<div class="form-horizontal">
  {{#form-row label='Title'}}
    {{input type="text" value=model.title class="form-control"}}
  {{/form-row}}

  {{#form-row label='Description'}}
    {{input type="text" value=model.description class="form-control" rows="3"}}
  {{/form-row}}

  {{#form-row label='Source'}}
    {{input type="text" value=model.source class="form-control"}}
  {{/form-row}}

  {{#form-row label='Prep time'}}
    {{input type="text" value=model.prepTime class="form-control"}}
  {{/form-row}}

  {{#form-row label='Image'}}
    {{input type="text" value=model.image class="form-control"}}
  {{/form-row}}

  {{#form-row label='Cooking time'}}
    {{input type="text" value=model.cookTime class="form-control"}}
  {{/form-row}}

  {{#form-row label='Minutes to cook'}}
    {{input type="text" value=model.image class="form-control"}}
  {{/form-row}}

  {{#form-row label='Link to image'}}
    {{input type="text" value=model.image class="form-control"}}
  {{/form-row}}


  <div class="form-group">
    <label class="col-sm-2 control-label">Ingredients</label>
      <div class="col-sm-10">
        {{#each model.ingredients as |ingredient|}}
          <div class="input-group">
            {{input type="text" value=ingredient.description class="form-control"}}
            <span class="input-group-addon remove">
              <button class="btn btn-danger"  {{action 'deleteIngredient' ingredient}}>-</button>
            </span>
          </div>
        {{/each}}
        <button class="btn btn-success btn-sml pull-right"  {{action 'addIngredient'}}>Add ingredient</button>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Instructions</label>
      <div class="col-sm-10">
        {{#each model.instructions as |instruction|}}
          <div class="input-group">
            {{input type="text" value=instruction.description class="form-control" rows="3"}}
            <span class="input-group-addon remove">
              <button class="btn btn-danger"  {{action 'deleteInstruction' instruction}}>-</button>
            </span>
        </div>
        {{/each}}
        <button class="btn btn-success btn-sml pull-right"  {{action 'addInstruction'}}>Add instruction</button>
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'save'}}>Add to recipe list</button>
    </div>
  </div>
</div>
