{{#each model as |recipe|}}
  <article class="listing">
    <h3>{{recipe.title}}</h3>
    <p>
      {{recipe.description}}
    </p>
    <dl>
      <dt>source</dt>
      <dd><a href="{{recipe.source}}">{{recipe.source}}</a></dd>
      <dt>
        Minutes to prepare
      </dt>
      <dd>{{recipe.prepTime}}</dd>
      <dt>
        Minutes to cook
      </dt>
      <dd>{{recipe.cookTime}}</dd>
    </dl>
  </article>
{{/each}}
